<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @form.name %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @form.last_name %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @form.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @form.email %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', root_path %>
